.tickets_aside{
    grid-area:2/2/3/3;
    width: 200px;
    background-color: lightgray;
    padding: .5rem 0;
    height: 100%;
    &>*{
        padding: .25em;
    }
}
.mt-3>.p-element{
    width: 100%;
}