<div *ngIf="tours.length" class="tours">
<div class="info_bar">
<label for="search"  class="w-30 mx-3 mt-3">
    Поиск
    <input 
    (input)="onInput($event)"
    id="search"
   name="search"
   [(ngModel)] ="searchString"
    pInputText
     placeholder="поиск"></label>

<label class="w-30 mx-3 mt-3">Количество туров: {{getFilteredTours().length}}</label>
<label   class="w-30 mx-3 mt-3">Выбранный тур: {{blockDirective.activeElementIndex+1}}</label>

</div>

<ul class="tickets_list p-3"
appBlocksStyle
       appBlocksStyle
       #toursWrap
       #blockDirective='blocksStyle'
       [selector]="'.tour'"
       [initFirst]="false"
       (renderComplete)="directiveRenderComplete($event)"
       >

<li class="tour" (dblclick)="onDbClick(ticket)" *ngFor="let ticket of getFilteredTours()">
<app-ticket-card  [tour]="ticket"></app-ticket-card>


</li>

</ul>
</div>