<div  class="tours">
<div class="info_bar">
<label for="search"  class="w-30 mx-3 mt-3">
    Поиск
    <input
    #ticketSearch
    id="search"
   name="search"
   [(ngModel)] ="searchString"
    pInputText
     placeholder="поиск"></label>

<label class="w-30 mx-3 mt-3">Количество туров: {{tours.length}}</label>
<label *ngIf="directiveReady"  class="w-30 mx-3 mt-3">Выбранный тур: {{getActiveElementIndex()}}</label>

</div>

<ul *ngIf="tours.length" class="tickets_list p-3"
       appBlocksStyle
       #toursWrap
       #blockDirective='blocksStyle'
       [selector]="'.tour'"
       [initFirst]="false"
       (renderComplete)="directiveRenderComplete($event)"
       >

<li class="tour" (dblclick)="onDbClick(ticket)" *ngFor="let ticket of tours">
<app-ticket-card  [tour]="ticket"></app-ticket-card>


</li>

</ul>
</div>
