<form  (submit)="onSubmit($event)" class="change_password">
<label for="current_password">Текущий пароль:
<input id="current_password"
type="text"
name="currentPassword"
       pInputText
       [(ngModel)]="currentPassword">
    </label>
    <label for="new_password">Новый пароль:
<input id="new_password"
[ngClass]="{'input-error':!newPassword}"
type="text"
name="newPassword"
pInputText
[(ngModel)]="newPassword"
>
</label>
<label for="confirm_password">Confirm password:
<input  id="confirm_password"
[ngClass]="{'input-error':!equalNewPasswordAndConfirm()}"
type="text"
name="confirmPassword"
pInputText
[(ngModel)]="confirmPassword"
>
</label>


<button [disabled]="!equalNewPasswordAndConfirm()" type="submit" class="btn">Сменить пароль</button>

</form>
<p-toast></p-toast>

